* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  list-style: none;
  outline: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 100%;
  background-color: #f7fdee;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
textarea {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input:focus,
textarea:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

h1 {
  text-align: center;
  font-style: italic;
}

#container {
  font-family: Cambria, Georgia;
  font-size: 17px;
  margin: 0 auto;
  overflow: hidden;
}

div .green {
  color: #007600;
  text-align: center;
}

.error {
  color: #f50000;
  text-align: center;
}

.header {
  background: #caf288;
  height: 100%;
  margin: 10px;
  display: grid;
  grid-template-columns: 70% 100%;
}

#logobild {
  width: 240px;
  height: 80px;
  margin: 10px;
  border-radius: 10px;
}

.meny a {
  display: inline-block;
  font-size: 18px;
  text-decoration: none;
  color: #f50000;
  padding: 40px;
  font-weight: 700;
}

.main {
  margin: 0 10px 0 10px;
  border: 1px solid #000;
  border-radius: 15px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.left {
  padding: 10px;
  height: 400;
}

.left2 {
  border: 1px solid #000;
  width: auto;
  height: auto;
  padding: 10px;
  margin-left: 10px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  margin: 10px 10px 0 10px;
}

.center {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  padding: 10px;
}

.right {
  padding: 10px;
}

.right2 {
  float: left;
  width: 300px;
  padding: 10px;
}

.contactmain {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

.contactmain h3,
p {
  text-align: center;
  margin: 10px;
}

.contactbtn {
  padding: 10px;
  background: darkblue;
  color: white;
  display: flex;
  margin: 0 auto;
}

.dangerbtn {
  background: red;
  padding: 10px;
  color: white;
  display: flex;
  margin: 0 auto;
}

.loginmain {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

.loginmain h3,
p {
  text-align: center;
  margin: 10px;
}

.loginbtn {
  padding: 10px;
  background: darkblue;
  color: white;
  display: flex;
  margin: 0 auto;
}

.changemain {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

.changemain h1,
p {
  text-align: center;
  margin: 10px;
}

.addmain {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

.addmain h1,
p {
  text-align: center;
  margin: 10px;
}

.btn {
  padding: 10px;
  background: darkblue;
  color: white;
  display: flex;
  margin: 0 auto;
}

.row {
  display: grid;
  grid-template-columns: 55% 70%;
}

.btnrow {
  display: grid;
  grid-template-columns: 50% 30%;
}

.studylink {
  margin-left: 38%;
  font-size: 20px;
}

.pagelink {
  margin-left: 40px;
  font-size: 20px;
}

.centerit {
  margin-left: 10%;
  font-size: 18px;
}

.footer {
  text-align: center;
  font-size: 16px;
  margin: 10px;
}

@media screen and (max-width: 1900px) {
  body {
    font-size: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  hr {
    width: 95%;
    margin: 10px;
  }

  #container {
    width: 100%;
    margin: 0;
  }

  .header {
    grid-template-columns: 1fr;
  }

  #logobild {
    width: 95%;
  }

  .meny {
    margin: 0 10px 0 10px;
    border: 1px solid #000;
    border-radius: 15px;
    margin-bottom: 10px;
    text-align: center;
  }

  .meny a {
    display: inline-block;
    padding: 10px;
    border-right: 1px solid #000;
  }

  .meny a:nth-child(3) {
    border: none;
    padding-right: 40px;
  }

  .main {
    grid-template-columns: 1fr;
  }

  .left,
  .center,
  .right,
  .left2 {
    border: 1px solid black;
  }

  .pagelink {
    font-size: 20px;
    margin-left: 20%;
  }

  .studylink {
    margin-left: 5%;
    font-size: 20px;
  }

  .contactmain,
  .row,
  .changemain {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
