// Variables
$zero: 0;
$hundred: 100%;
$box: border-box;
$none: none;
$auto: auto;
$grid: grid;
$onefr: 1fr;
$cntr: center;
$tenpx: 10px;
$darkblueclr: darkblue;
$whiteclr: white;
$flex: flex;
$redclr: red;
$block: block;
$onerem: 1rem;
$fourhundred: 400;
$onepx: 1px;
$solidbrd: solid;
$easy: ease-in-out;
$twentypx: 20px;
$fortypx: 40px;
$eighteenpx: 18px;
$left: left;
$font: Cambria, Georgia;
$hid: hidden;
$media: 1900px;
$inlineblock: inline-block;
$sevenhundred: 700;
$fifteenpx: 15px;
$three: 3;
$sixteenpx: 16px;
$media: 1900px;
$paddingBox: padding-box;
$borderColor: border-color;
$webshadow: -webkit-box-shadow;
$thireteen: 13;
$onehundredten: 110;
$twohundredfiftythree: 253;
$italic: italic;
$seventeenpx: 17px;
$seventypr: 70%;
$threehundredpx: 300px;
$fiftyfivepr: 55%;
$fiftypr: 50%;
$thirtypr: 30%;
$thirtyeightpr: 38%;
$tenpr: 10%;
$ninetyfivepr: 95%;
$blackclr: black;
$twentypr: 20%;
$fivepr: 5%;

// Selectors
$selectorMap: (
  global: "*",
  globalImg: "img",
  body: "body",
  link: "a",
  div: "div",
  txtArea: "textarea",
  input: "input",
  h1: "h1",
  h3: "h3",
  para: "p",
  line: "hr",
  wrapper: "#container",
  green: ".green",
  err: ".error",
  header: ".header",
  logoBild: "#logobild",
  menu: ".meny",
  main: ".main",
  left: ".left",
  left2: ".left2",
  center: ".center",
  right: ".right",
  right2: ".right2",
  contactMain: ".contactmain",
  contactBtn: ".contactbtn",
  dangerBtn: ".dangerbtn",
  loginMain: ".loginmain",
  loginBtn: ".loginbtn",
  changeMain: ".changemain",
  addMain: ".addmain",
  btn: ".btn",
  row: ".row",
  btnRow: ".btnrow",
  studyLink: ".studylink",
  pageLink: ".pagelink",
  centerIt: ".centerit",
  footer: ".footer",
);
